no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$DQB5s/o4pkBX7sXs$fbwL/qj/W0WO/Odkvo4Z.hytqdXJoTxa79523tQz4E8gHLrxoRinxnQrE.pr0DBPdaoSVMVTOmGrfXNvkEWQI1
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model ribd
!
agent Bfd shutdown
agent PowerManager shutdown
agent LedPolicy shutdown
agent Thermostat shutdown
agent PowerFuse shutdown
agent StandbyCpld shutdown
agent LicenseManager shutdown
!
logging buffered 1000000
logging console debugging
logging synchronous level critical
!
hostname ceos-ansible-1
!
spanning-tree mode none
!
management api http-commands
   no shutdown
!
management http-server
   protocol https ssl profile eapi
!
management security
   ssl profile eapi
      certificate eapiServer.cert key eapiServer.key
!
aaa authentication login console local
aaa authorization exec default local
!
{% for if_name,if_opt in interfaces.items() %}
interface {{ if_name  }}
   description {{ if_opt['description'] }}
   no switchport
   ipv6 enable
   ipv6 address {{ if_opt['ipv6_addr']  }}
   ipv6 nd ra disabled
   exit
{% endfor %}
!
interface Management0
   ip address 172.17.0.251/16
   ipv6 enable
   ipv6 address ff::251/64
   ipv6 address fe80::251/64 link-local
!
ip routing
!
ipv6 unicast-routing
!
end
