{% for if_name,if_opt in interfaces.items() %}
interface {{ if_name  }}
   description {{ if_opt['description'] }}
   no switchport
   ipv6 enable
   ipv6 address {{ if_opt['ipv6_addr']  }}
   ipv6 nd ra disabled
   exit
{% endfor %}
